[run]
    omit = *docs*
           *test*
           *venv*
           setup.py
           pyhanko/pdf_utils/_saslprep.py

[report]
exclude_lines =
    pragma: no cover
    pragma: nocover
    raise AssertionError
    raise NotImplementedError
precision = 2
