[build-system]
requires = [
    "setuptools>=67.4",
    "wheel", "pytest-runner",
]
build-backend = "setuptools.build_meta"

[project]
name = "pyHanko"
description = "Tools for stamping and signing PDF files"
authors = [{name = "Matthias Valvekens", email = "dev@mvalvekens.be"}]
maintainers = [{name = "Matthias Valvekens", email = "dev@mvalvekens.be"}]
license = {text = "MIT"}
keywords = [
    "signature",
    "pdf",
    "pades",
    "digital-signature",
    "pkcs11",
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Security :: Cryptography",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
requires-python = ">=3.7"
dependencies = [
    "asn1crypto>=1.5.1",
    "qrcode>=6.1",
    "tzlocal>=4.3",
    "pyhanko-certvalidator==0.24.*",
    "click>=7.1.2",
    "requests>=2.24.0",
    "pyyaml>=5.3.1",
    "cryptography>=3.3.1",
]
dynamic = ["version"]


[project.readme]
file = "README.md"
content-type = "text/markdown"

[project.urls]
Homepage = "https://github.com/MatthiasValvekens/pyHanko"
Documentation = "https://pyhanko.readthedocs.io/"
Changes = "https://pyhanko.readthedocs.io/en/latest/changelog.html"
"Source Code" = "https://github.com/MatthiasValvekens/pyHanko"
"Issue Tracker" = "https://github.com/MatthiasValvekens/pyHanko/issues"

[project.optional-dependencies]
extra-pubkey-algs = ["oscrypto>=1.2.1"]
xmp = ["defusedxml~=0.7.1"]
opentype = [
    "fonttools>=4.33.3",
    # uharfbuzz sometimes includes breaking changes, so
    # we set an explicit range
    "uharfbuzz>=0.25.0,<0.38.0",
]
image-support = [
    # Only tested systematically on 8.x,
    # but we allow 7.2.x to support system PIL on Ubuntu
    "Pillow>=7.2.0",
    "python-barcode==0.15.1"
]
pkcs11 = ["python-pkcs11~=0.7.0"]
async-http = ["aiohttp~=3.8.0"]
testing-basic = [
    "pytest>=6.1.1",
    "requests-mock>=1.8.0",
    "freezegun>=1.1.0",
    "pytest-asyncio==0.21.1",
    "certomancer==0.11.*",
    "pytest-cov>=4.0,<4.2",
    "backports.zoneinfo[tzdata];python_version<\"3.9\"",
]
testing = [
    "pyHanko[testing-basic,pkcs11,xmp,opentype,image-support,async-http,extra-pubkey-algs]",
    "pytest-aiohttp~=1.0.4",
    "certomancer-csc-dummy==0.2.2",
]
live-test = [
    "pyHanko[testing-basic,xmp,async-http,extra-pubkey-algs]",
    "pytest-aiohttp~=1.0.4",
    "certomancer-csc-dummy==0.2.2",
    "certomancer[web-api,pkcs12]>=0.11.0,<0.12.0",
    "pytest-cov>=4.0,<4.2",
]
mypy = [
    "pyHanko[pkcs11,xmp,opentype,image-support,async-http,extra-pubkey-algs]",
    "types-requests",
    "types-python-dateutil",
    "types-PyYAML",
    "types-tzlocal",
]
docs = [
    "sphinx",
    "sphinx-rtd-theme"
]

[project.scripts]
pyhanko = "pyhanko.__main__:launch"

[tool.setuptools]
include-package-data = false

[tool.setuptools.dynamic]
version = {attr = "pyhanko.version.__version__"}

[tool.setuptools.packages.find]
include = ["pyhanko", "pyhanko.*"]
exclude = ["pyhanko_tests*"]

[tool.setuptools.package-data]
pyhanko = ["py.typed"]

[tool.mypy]
files = "pyhanko"

[[tool.mypy.overrides]]
module = [
    "asn1crypto.*",
    "pkcs11.*",
    "oscrypto.*",
    "uritools.*",
    "barcode.*",
    "PIL.*",
    "uharfbuzz.*",
    "fontTools.*",
    "qrcode.*",
    "defusedxml.*",
]
ignore_missing_imports = true

[tool.pytest.ini_options]
log_format = "%(asctime)s %(levelname)s %(message)s"
log_date_format = "%Y-%m-%d %H:%M:%S"
log_cli = true
log_cli_level = "INFO"
norecursedirs = "testdata"
testpaths = "pyhanko_tests"
asyncio_mode = "strict"
