asn1crypto>=1.5.1
oscrypto>=1.2.1
pytz>=2020.1
qrcode>=6.1
tzlocal>=2.1
python-pkcs11>=0.7.0
fonttools>=4.33.3
click>=7.1.2
pyhanko-certvalidator~=0.19.8
requests>=2.24.0
pytest>=6.1.1
requests-mock>=1.8.0
python-barcode==0.14.0
freezegun>=1.1.0
Pillow>=7.2.0
pyyaml>=5.3.1
cryptography>=3.3.1
certomancer~=0.9.1
uharfbuzz>=0.25.0, <0.31.0
isort>=5.9.3
aiohttp~=3.8.0
pytest-aiohttp~=1.0.4
certomancer-csc-dummy==0.2.1
defusedxml~=0.7.1
