name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - run: pip install isort
      - run: pip install -r requirements.txt
      - name: Check import order
        run: isort --profile black --line-length 80 --check .
