name: MyPy check

on:
  push:
    branches: [ master, "feature/*", "bugfix/*", "maintenance/*", "ci-*" ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: jpetrucciani/mypy-check@0.991
      with:
        path: pyhanko_certvalidator
        requirements: "-e .[mypy] --config-settings editable_mode=strict"
