name: Static analysis

on: ["push", "pull_request"]

permissions:
  actions: read
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: pip install --upgrade uv
      - name: Check formatting
        run: uv run --group lint ruff format --check --diff
      - name: Check linting rules
        run: uv run --group lint ruff check
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: pip install --upgrade uv
      - run: uv run --all-packages --all-extras --group mypy mypy
